.clients {
  background: $primary-dark;
  margin-top: 20px;

  h2 {
    color: $white;
    margin-bottom: 64px;
  }

  .carousel {
    background: $primary-dark;
    &-cell {
      width: 100%;
      @include breakpoint-up(medium){
        width: 25%;
        margin-right: 10px;
      }
      height: 100px;
      background: $primary-dark;
      counter-increment: carousel-cell;

      img {
        width: 339px;
        height: 64px;
      }
    }
  }
}
