.management {
  height: 100%;
  margin-bottom: 64px;

  &__intro {
    display: flex;
    flex-direction: column;
    max-width: 537px;
    margin-bottom: 80px;
    text-align: center;

    h2{
      margin-bottom: 40px;
    }

    @include breakpoint-up(large) {
      text-align: start;

      h2{
        margin-bottom: 0px;
      }
    }
  }

  .card--carousel{
    @include breakpoint-up(large){
      height: 100%;
    }
  }

  .carousel {
    background: $white;
    height: 100%;
  }

  .carousel-cell {
    text-align: left;
    width: 100%;
    counter-increment: carousel-cell;
    padding-bottom: 0px;

    @include breakpoint-up(medium) {
      counter-increment: carousel-cell;
      margin-right: 32px;
      width: 100%;
    }

    @include breakpoint-up(large) {
      counter-increment: carousel-cell;
      margin-right: 32px;
      width: 32%;
    }
  }
}

.flickity-button {
  position: absolute;
  background: $white;
  border: none;
  color: $primary-dark;

  &:hover {
    color: $primary-light;
  }
}

.flickity-prev-next-button.previous {
  border: 1px solid #c1e5ff;
  width: 24px;
  height: 24px;
  padding: 18px;
  top: 90%;
  left: 70%;

  @include breakpoint-up(medium) {
    left: 85%;
    top: 240px;
  }

  @include breakpoint-up(large) {
    left: 91%;
    top: 270px;
  }
}

.flickity-prev-next-button.next {
  border: 1px solid #c1e5ff;
  width: 24px;
  height: 24px;
  padding: 18px;
  top: 90%;
  left: 88%;

  @include breakpoint-up(medium) {
    left: 95%;
    top: 240px;
  }

  @include breakpoint-up(large) {
    left: 96%;
    top: 270px;
  }
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 31%;
  top: 20%;
  width: 40%;
  height: 59%;
}
