.safety {
  text-align: center;

  @include breakpoint-up(large) {
    text-align: start;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    h2 {
      width: 100%;
      margin-bottom: 40px;
    }

    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 173px;

      h2 {
        width: 58%;
        padding-top: 20px;
        margin-bottom: 0px;
      }
    }
  }
  .carousel {
    background: $white;
  }

  .carousel-cell {
    text-align: left;
    width: 100%;
    height: 100%;
    counter-increment: carousel-cell;
    @include breakpoint-up(large) {
      margin-right: 32px;
      width: 33%;
      height: 313px;
    }
  }

  &-cell {
    width: 533px;
    gap: 32px;
    //   margin-right: 32px;
    background: $white;
    .card--carousel {
      img {
        width: 58px;
        height: 58px;
      }
    }
  }

  .flickity-button {
    position: absolute;
    background: $white;
    border: none;
    color: $primary-dark;

    &:hover {
      color: $primary-light;
    }
  }

  .flickity-prev-next-button.previous {
    border: 1px solid #c1e5ff;
    width: 24px;
    height: 24px;
    padding: 18px;
    top: 250px;
    @include breakpoint-up(large) {
      left: 93%;
    }
  }

  .flickity-prev-next-button.next {
    border: 1px solid #c1e5ff;
    width: 24px;
    height: 24px;
    padding: 18px;
    right: 10px;
    top: 250px;
  }

  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 31%;
    top: 20%;
    width: 40%;
    height: 59%;
  }
}
