// Colors

// Basic
$white: hsl(0, 0%, 100%);

// Layout Colors
$primary-dark: #0c3553;
$primary-medium: #114870;
$primary-light: #155a8c;
$primary-bg-light: #daf0ff;

// Font Sizes
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-64: 4rem;
